---
import Layout2 from '../../layouts/LayoutAstro.astro'

import { getCollection } from 'astro:content';

const jobs = await getCollection('campJobs');
const groups = await getCollection('campJobGroups');

const fileUrl = "https://s3.amazonaws.com/siteninja/multitenant/assets"
---

<Layout2 title="Camp Jobs">
    {groups.map((grp: { id: string; data: {id: string, name: string} }) => {
        return (
            <h2>{grp.data.name}</h2>
            <ul>
                {jobs.map((job: { data: {id: string, group: string, file: string}}) => {
                    if (grp.id === job.data.group) {
                        return (
                            <li><a href={`${fileUrl}/${job.data.file}`} target="other">{job.data.id}</a></li>
                        )
                    }}
                )}
            </ul>
    )})}
</Layout2>

