---
import Layout from '@layouts/LayoutBase.astro'
import { marked } from 'marked';
import { getCollection } from 'astro:content';

const committees = await getCollection('committees');
---
<Layout title="Eliot|Committees">
    <h1>Board Committees</h1>
    {committees.map((c) => {
        const content = marked.parse(c.body);

        return (
            <article>
                <h2>{c.data.name}</h2>
                <ul>
                    <li>Chair: {c.data.chair}</li>
                </ul>
                <p set:html={content}></p>
            </article>
        )
    })}


</Layout>
