---
import Layout from '@layouts/LayoutAstro.astro'

import { getCollection } from 'astro:content';
const docs = await getCollection('docs');

function getDoc(id: string) {
    return docs.find((element: any) => element.id === id)?.data;
}
const doc = getDoc("urgent-care");
console.log(doc);
---
<Layout title="Eliot|Urgent Care">

    <h1>Urgent Medical Care</h1>
    <article>
        <p>In case of emergency, call 911 and then notify the Seabeck office in person or phone 360-830-5010.</p>
        
        <p>First Aid supplies are available in the Inn Lobby, children's program areas, and on the 
        swim dock (during summer). Fellow campers who have volunteered for First Aid 
        assistance will be identified at the all-camp orientation on the first day. </p>
        
        <p>During summer swim times, a staff member at the lagoon usually has an air horn 
        and 911 cell phone for emergency use. </p>
        
        <p>For additional assistance, ask an Eliot staff member.</p> 
        
        <p>For urgent care, follow this link to locate local medical facilities:</p>
        
        <ul>
            <li><a href={doc.url} target="other">{doc.name}</a></li>
        </ul>
        
        </p>Please note that the Harrison Hospital in Silverdale is now the St. Michael Medical Center.</p>
    </article>
        
</Layout>



