---
import BaseLayout from "@layouts/LayoutBase.astro";

const year = Astro.request.url.split("/").slice(-1);
const title = "Eliot|" + year;
---

<BaseLayout title={title}>
  <div class="container">

    <hgroup>
      <h1>Eliot Institute: {year} Camps</h1>
      <h1>Tabs Example</h1>
      <h2>Works without the Javascript – it only sets an active class</h2>
    </hgroup>
    <nav role="tab-control">
      <ul>
        <li><label for="tab1" class="active">Tab 1</label></li>
        <li><label for="tab2">Tab 2</label></li>
        <li><label for="tab3">Tab 3</label></li>
      </ul>
    </nav>
    <div role="tabs">
      <section>
        <input
          hidden="hidden"
          type="radio"
          name="tabs"
          id="tab1"
          checked="checked"
        />
        <figure>
          <blockquote>
            "When you're new to something, you bring an ignorance that can be
            highly innovative."
            <footer>
              <cite>– Rick Rubin</cite>
            </footer>
          </blockquote>
        </figure>

        <input hidden="hidden" type="radio" name="tabs" id="tab2" />

        <figure>
          <blockquote>
            "Nothing beats a simple worldview. When we know who is the bad guy,
            the day has structure."
            <footer>
              <cite>– Volker Pispers</cite>
            </footer>
          </blockquote>
        </figure>

        <input hidden="hidden" type="radio" name="tabs" id="tab3" />

        <figure>
          <blockquote>
            "Ignorance is not bliss. Ignorance is poverty. Ignorance is
            devastation. Ignorance is tragedy. And ignorance is illness. It all
            stems from ignorance."
            <footer>
              <cite>– Jim Rohn</cite>
            </footer>
          </blockquote>
        </figure>
      </section>
    </div>
  </div>
</BaseLayout>
