---
const { doc } = Astro.props;
const baseUrl = import.meta.env.BASE_URL;

function docUrl(doc) {
    return baseUrl + '/docs/' + doc.data.type + '/' + doc.data.file;
}

let note = '';
if (doc.data.note) {
    note = '<br>' + doc.data.note;
}

---

<a href={docUrl(doc)} target="other">{doc.data.name}</a>
<Fragment set:html={note}></Fragment>
