---
import { getCollection } from 'astro:content';
const meta = await getCollection('metadata');

function getValue(id: string) {
    return meta.find((element: any) => element.id === id)?.data.val;
}
const version = getValue("version");
const copyright = getValue("copyright");
---

<footer>
    <div class="container">
        <hr>
        <p>v{version} | <small>{copyright}</small></p>
    </div>
</footer>