---
const version = "1.0.0"
---
<footer>
    <div class="container">
        <p>Copyright - All rights reserved - &copy; <a href="https://www.eliotinstitute.org/">Eliot Institute</a></p>
        <p>v{version}</p>
    </div>
</footer>