---
import { getCollection } from 'astro:content';
const meta = await getCollection('meta');

const version = meta[0].data.ver;
---

<footer>
    <div class="container">
        <hr>
        <p>v{version} | <small>Copyright - All rights reserved - &copy; <a href="https://www.eliotinstitute.org/">Eliot Institute</a></small></p>
    </div>
</footer>