---
import { Image } from 'astro:assets';
import Logo from '@assets/eliot-logo.png';

function pageUrl(page : string) {
  return import.meta.env.BASE_URL + page;
}
---

<header>
  <div class="container">
    <nav>
      <ul>
        <li><a href={pageUrl('')}>
          <Image src={Logo}
            alt="Eliot Institute"
            height=64
          /></a>
        </li>
      </ul>

      <ul>
        <li>
          <li><button class="primary outline"><a href={pageUrl('/donate')}>Donate</a></button></li>
          <li><button class="primary outline"><a href={pageUrl('/camps/register')}>Register for Camp</a></button></li>
        </li>
      </ul>

    </nav>
  </div>
</header>
