---
import { Image } from 'astro:assets';
import EliotBanner from '../assets/Eliot_Banner.png';
import Navbar from '../components/Navbar.astro';
---

<header>
  <div class="container">
    <Navbar />
  </div>
</header>
