---
import { Image } from 'astro:assets';
import Logo from '@assets/eliot-logo.png';
---

<nav>
  <ul>
    <li><a href="/eliot/">
      <Image src={Logo}
        alt="Eliot Institute"
        height=64
      /></a>
    </li>
    <li>
      <details class="dropdown">
        <summary>
          Camps
        </summary>
        <ul>
          <li><a href="/eliot/camps/upcoming">Camps</a></li>
          <li><a href="/eliot/camps/location">Location of Camps</a></li>
          <li><a href="/eliot/volunteer">Volunteers</a></li>
          <li><a href="/eliot/volunteer/camp-jobs">Camp Jobs</a></li>
          <li><a href="/eliot/volunteer/hand+heart">Hand & Heart Award</a></li>
          <li><a href="/eliot/camps/speakers+deans">Past Deans & Speakers</a></li>
        </ul>
      </details>
    </li>
    <li>
      <details class="dropdown">
        <summary>
          Survival Guide
        </summary>
        <ul>
          <li><a href="/eliot/guides/camp-intro">Introduction to Camps</a></li>
          <li><a href="/eliot/guides/urgent-care">Urgent Medical Care</a></li>
          <li><a href="/eliot/guides/program">The Eliot Program</a></li>
          <li><a href="/eliot/guides/meals">Meals at Eliot</a></li>
          <li><a href="/eliot/guides/camp-rules">Camp Rules</a></li>
          <li><a href="/eliot/guides/children+youth">Children & Youth</a></li>
        </ul>
      </details>
    </li>
    <li>      
      <details class="dropdown">
        <summary>Governance</summary>
        <ul>
          <li><a href="/eliot/board/board">Board & Staff</a></li>
          <li><a href="/eliot/board/committees">Committees</a></li>
          <li><a href="/eliot/board/manual">Board Manual</a></li>
        </ul>
      </details>
    </li>
    <li>
      <details class="dropdown">
        <summary>
          About Us
        </summary>
        <ul>
          <li><a href="/eliot/about/mission">Mission Statement</a></li>
          <li><a href="/eliot/about/values">Values Expressed in Action</a></li>
          <li><a href="/eliot/about/covenant">Eliot Covenant</a></li>
          <li><a href="/eliot/about/policies">Policies</a></li>
          <li><a href="/eliot/about/history">Our History</a></li>
          <li><a href="/eliot/about/affiliations">Affiliations</a></li>
        </ul>
      </details>
    </li>
    <li><a href="/eliot/contact">Contact Us</a></li>
  </ul>
</nav>
