<div class="navbar">
  <section class="navbar-section">
    <a class="navbar-brand mr-2" href="/">Eliot Institute</a>
    <a class="btn btn-link" href="/camps/camps.html">Camps</a>
  </section>
  <section class="navbar-center">
    <!-- centered logo or brand -->
  </section>
  <section class="navbar-section">
    <a class="btn btn-link" href="">Calendar</a>
    <a class="btn btn-link" href="">Survival Guide</a>
    <a class="btn btn-link" href="/">Volunteers</a>
    <a class="btn btn-link" href="/">Donate</a>
    <a class="btn btn-link" href="/">About Us</a>
    <a class="btn btn-link" href="/">Links</a>
    <a class="btn btn-link" href="/">Contact Us</a>
  </section>
</div>