---
import { Image } from 'astro:assets';
import Logo from '@assets/eliot-logo.png';
const baseUrl = import.meta.env.BASE_URL;

function url(page : string) {
  return baseUrl + page;
}
---

<nav>
  <ul>
    <li><a href={baseUrl}>
      <Image src={Logo}
        alt="Eliot Institute"
        height=64
      /></a>
    </li>
    <li>
      <details class="dropdown">
        <summary>
          Camps
        </summary>
        <ul>
          <li><a href={url("/camps/upcoming")}>Camps</a></li>
          <li><a href={url("/camps/location")}>Location of Camps</a></li>
        </ul>
      </details>
    </li>
    <li>
      <details class="dropdown">
        <summary>
          Pricing
        </summary>
        <ul>
          <li><a href={url("/camps/pricing")}>How Much Does It Cost?</a></li>
          <li><a href={url("/camps/cancellation")}>Deposit/Cancellation Policy</a></li>
          <li><a href={url("/camps/assistance")}>Financial Assistance</a></li>
        </ul>
      </details>
    </li>
    <li>
      <details class="dropdown">
        <summary>
          Life At Camp
        </summary>
        <ul>
          <li><a href={url("/guides/camp-intro")}>Introduction to Camps</a></li>
          <li><a href={url("/guides/urgent-care")}>Urgent Medical Care</a></li>
          <li><a href={url("/guides/program")}>The Eliot Program</a></li>
          <li><a href={url("/guides/meals")}>Meals at Eliot</a></li>
          <li><a href={url("/guides/camp-rules")}>Camp Rules</a></li>
          <li><a href={url("/guides/children+youth")}>Children & Youth</a></li>
        </ul>
      </details>
    </li>
    
    <li>      
      <details class="dropdown">
        <summary>Get Involved</summary>
        <ul>
          <li><a href={url("/volunteer/get-involved")}>Volunteers</a></li>
          <li><a href={url("/volunteer/camp-jobs")}>Camp Jobs</a></li>
          <li><a href={url("/board/committees")}>Committees</a></li>
          <li><a href={url("/board/board")}>Board & Staff</a></li>
          <li><a href={url("/board/board-manual")}>Board Manual</a></li>
        </ul>
      </details>
    </li>
    <li>
      <details class="dropdown">
        <summary>
          About Us
        </summary>
        <ul>
          <li><a href={url("/contact")}>Contact Us</a></li>
          <li><a href={url("/about/mission")}>Mission Statement</a></li>
          <li><a href={url("/about/values")}>Values Expressed in Action</a></li>
          <li><a href={url("/about/covenant")}>Eliot Covenant</a></li>
          <li><a href={url("/about/policies")}>Policies</a></li>
          <li><a href={url("/about/history")}>Our History</a></li>
          <li><a href={url("/about/affiliations")}>Affiliations</a></li>
          <li><a href={url("/about/fliers")}>Camp Fliers</a></li>
          <li><a href={url("/about/hand+heart")}>Hand & Heart Award</a></li>
          <li><a href={url("/about/speakers+deans")}>Past Deans & Speakers</a></li>
        </ul>
      </details>
    </li>
  </ul>
</nav>
