---
function pageUrl(page : string) {
  return import.meta.env.BASE_URL + page;
}
---

<nav>
    <li>
      <details class="dropdown">
        <summary>
          Camps
        </summary>
        <ul>
          <li><a href={pageUrl("/camps/upcoming")}>Camps</a></li>
          <li><a href={pageUrl("/camps/location")}>Location of Camps</a></li>
        </ul>
      </details>
    </li>
    <li>
      <details class="dropdown">
        <summary>
          Pricing
        </summary>
        <ul>
          <li><a href={pageUrl("/camps/pricing")}>How Much Does It Cost?</a></li>
          <li><a href={pageUrl("/camps/cancellation")}>Deposit/Cancellation Policy</a></li>
          <li><a href={pageUrl("/camps/assistance")}>Financial Assistance</a></li>
        </ul>
      </details>
    </li>
    <li>
      <details class="dropdown">
        <summary>
          Life&nbsp;At&nbsp;Camp
        </summary>
        <ul>
          <li><a href={pageUrl("/guides/camp-intro")}>Introduction to Camps</a></li>
          <li><a href={pageUrl("/guides/urgent-care")}>Urgent Medical Care</a></li>
          <li><a href={pageUrl("/guides/program")}>The Eliot Program</a></li>
          <li><a href={pageUrl("/guides/meals")}>Meals at Eliot</a></li>
          <li><a href={pageUrl("/guides/camp-rules")}>Camp Rules</a></li>
          <li><a href={pageUrl("/guides/children+youth")}>Children & Youth</a></li>
        </ul>
      </details>
    </li>
    
    <li>      
      <details class="dropdown">
        <summary>
          Get&nbsp;Involved
        </summary>
        <ul>
          <li><a href={pageUrl("/volunteer/get-involved")}>Volunteers</a></li>
          <li><a href={pageUrl("/volunteer/camp-jobs")}>Camp Jobs</a></li>
          <li><a href={pageUrl("/board/committees")}>Committees</a></li>
          <li><a href={pageUrl("/board/board")}>Board & Staff</a></li>
          <li><a href={pageUrl("/board/board-manual")}>Board Manual</a></li>
        </ul>
      </details>
    </li>
    <li>
      <details class="dropdown">
        <summary>
          About Us
        </summary>
        <ul>
          <li><a href={pageUrl("/contact")}>Contact Us</a></li>
          <li><a href={pageUrl("/about/mission")}>Mission Statement</a></li>
          <li><a href={pageUrl("/about/values")}>Values Expressed in Action</a></li>
          <li><a href={pageUrl("/about/covenant")}>Eliot Covenant</a></li>
          <li><a href={pageUrl("/about/policies")}>Policies</a></li>
          <li><a href={pageUrl("/about/history")}>Our History</a></li>
          <li><a href={pageUrl("/about/affiliations")}>Affiliations</a></li>
          <li><a href={pageUrl("/about/fliers")}>Camp Fliers</a></li>
          <li><a href={pageUrl("/about/hand+heart")}>Hand & Heart Award</a></li>
          <li><a href={pageUrl("/about/speakers+deans")}>Past Deans & Speakers</a></li>
        </ul>
      </details>
    </li>
  </ul>
</nav>
