---
import { marked } from 'marked';

const { workshop } = Astro.props;
const info = workshop.data;

console.log(JSON.stringify(info));
const content = marked.parse(workshop.body);
const presenter = info.presenterUrl
                        ? ('<a href="' + info.presenterUrl + '" target="other"><b>' + info.presenter + '</b></a>')
                        : '<b>' + info.presenter + '</b>';

---
<article>
    <h2>{info.title}</h2>
    <p set:html={presenter}></p>
    <div set:html={content}></div>
    
</article>
    
