---
const { frontmatter } = Astro.props;

import '../styles/mvp.css'

import { Image } from 'astro:assets';
import EliotBanner from '../assets/Eliot_Banner.png';
import Menu from '../components/Menu.astro';

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <title>{frontmatter.title}</title>
  </head>

  <body>
    <header>
      <Image src={EliotBanner}
             alt="Eliot Institute"
             />
      <Menu />
    </header>
    <main>
		  <slot />
		</main>
    <footer>
    </footer>
  </body>

</html>
