---
import Layout from '@layouts/LayoutAstro.astro'

const { frontmatter } = Astro.props;

import { getCollection } from 'astro:content';
import { undefined } from 'astro:schema';
const miscDocs = await getCollection('miscDocs');
const newsDocs = await getCollection('newsDocs');
const policyDocs = await getCollection('policyDocs');

const docArr = [miscDocs, newsDocs, policyDocs];

function getDoc(id: string) {
    for (let i in docArr) {
        let doc = docArr[i].find((element: any) => element.id === id)?.data;
        if (doc) {
            return doc;
        }
    }
    return undefined;    
}

let docList = []
const ids = frontmatter.docs.split(',');
for (const id of ids) {
    const doc = getDoc(id.trim());
    if (doc) {
        docList.push(doc);
    }
};
---

<Layout title={frontmatter.title}>
    <article>
        <slot />
        <ul>
            {docList.map((d) => {
                const url = '/eliot/docs/' + d.type + '/' + d.file;
                return (
                    <li><a href={url} target="other">{d.name}</a></li>
                )
            })}
        </ul>
    </article>
</Layout>