---
const { title } = Astro.props;

import '@styles/eliot.css'

import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import Sidebar from '@components/Sidebar.astro';

const favicon = import.meta.env.BASE_URL + "/favicon.svg";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/svg+xml" href={favicon} />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
  </head>

  <body>
    <Header />
    <main class="container">
      <div class="grid">
        <div>
          <aside>
            <Sidebar />
          </aside>
        </div>
        <div>
          <slot />
        </div>
      </div>
    </main>
    <Footer />
  </body>

</html>
