---
import Layout from '@layouts/LayoutAstro.astro'

const { frontmatter } = Astro.props;

import { getCollection } from 'astro:content';
const docs = await getCollection('docs');

function getDoc(id: string) {
    return docs.find((element: any) => element.id === id)?.data;
}
const docList = []
const ids = frontmatter.docs.split(',');
for (const id of ids) {
    docList.push(getDoc(id.trim()));
};
---

<Layout title={frontmatter.title}>
    <article>
        <slot />
        <ul>
            {docList.map((d) => {
                return (
                    <li><a href={d.url} target="other">{d.name}</a></li>
                )
            })}
        </ul>
    </article>
</Layout>